{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Submitted</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <nav class="nav-container">
          <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
          <div class="nav-title">
            <h1>AMC News</h1>
          </div>
          <div class="nav-links">
            <ul>
                <a href="{% url 'index' %}" class="nav-link">Home</a>
                <a href="{% url 'submit_article' %}" class="nav-link">Submit News</a>
            </ul>
          </div>
        </nav>
      </header>
  
      <hr />

    <main>
        <div class="success-message">
            <div class="message-container">
                <h2>Thank You!</h2>
                <p>{{ message }}</p>
                <div class="action-buttons">
                    <a href="{% url 'index' %}" class="btn">Return to Home</a>
                    <a href="{% url 'submit_article' %}" class="btn">Submit Another Article</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
