{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Submitted</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav-container">
          <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
          <div class="nav-title">
            <h1>AMC News</h1>
          </div>
          <div class="nav-links">
            <ul>
                <a href="{% url 'index' %}" class="nav-link">Home</a>
                <a href="{% url 'submit_article' %}" class="nav-link">Submit News</a>
            </ul>
          </div>
        </nav>
      </header>
  
      <hr />

    <main>
        <div class="success-message">
            <div class="message-container">
                <h2>Thank You!</h2>
                <p>{{ message }}</p>
                <div class="action-buttons">
                    <a href="{% url 'index' %}" class="btn">Return to Home</a>
                    <a href="{% url 'submit_article' %}" class="btn">Submit Another Article</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
          <!-- Social Media Section -->
  
          <!-- Quick Links Section -->
          <div class="footer-section quick-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="/about-us/">About Us</a></li>
              <li><a href="/privacy-policy/">Privacy Policy</a></li>
              <li><a href="/terms-of-service/">Terms of Service</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div>
          <div class="footer-section social-links">
            <h3>Follow Us</h3>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a
                href="https://www.instagram.com/amc.education?igsh=MTg3MndnemdtYjJhZg=="
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Copyright Section -->
        <div class="footer-bottom">
          <p>&copy; 2025 AMC News | All rights reserved.</p>
        </div>
      </footer>
</body>
</html>
