asgiref
Django
django-environ
django-mongoengine
djonngo
gunicorn
mongoengine
packaging
Pillow
psycopg2-binary
pymongo
python-decouple
python-dotenv
pytz
setuptools
sqlparse
tzdata
waitress
whitenoise
