{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <title>Edit Profile</title>
</head>

<body>
    <header class="header">
        <nav class="nav-container">
            <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
            <div class="nav-title">
                <h1>AMC News</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'submit_article' %}" class="nav-link">Submit News</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
            <button class="close-btn" onclick="toggleSidebar()">✖</button>
        </div>
        <div class="sidebar-links">
            <a href="{% url 'index' %}" class="nav-link active">Home</a>
            <a href="{% url 'submit_article' %}" class="sidebar-link">Submit News</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
        </div>
    </div>


    <div class="profile-container">
        <h3>Edit Profile</h3>
        <form method="post" class="profile-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="button-group">
                <button type="submit" class="btn save-btn">Save Changes</button>
                <a href="{% url 'index' %}" class="btn home-btn">Home</a>
                <a href="{% url 'profile' %}" class="btn cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('visible');
        }
    </script>
</body>

</html>