{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>User Registration</title>
</head>

<body>
    <div class="amc">
        <h1>AMC Engineering College</h1>
    </div>
    <header class="header">
        <nav class="nav-container">
            <button class="menu-toggle" onclick="toggleSidebar()">☰</button> <!-- Menu Toggle -->
            <div class="nav-links">
                <img class="logo" src="{% static 'images/amc.png' %}" alt="Logo">
                <a href="#" class="nav-link active">Home</a>
                <a href="{% url 'submit_article' %}" class="nav-link">Submit News</a>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
            <button class="close-btn" onclick="toggleSidebar()">✖</button>
        </div>
        <div class="sidebar-links">
            <a href="#" class="sidebar-link active">Home</a>
            <a href="{% url 'submit_article' %}" class="sidebar-link">Submit News</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
        </div>
    </div>


    <div class="login-form">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p> Already have an account?<a href="{% url 'login' %}"> Login here.</a></p>
    </div>

</body>

</html>